* {
  font-family: 'Times New Roman', Times, serif;
}

.container {
  width: 1000px;
  height: 672px;
  border: 1px solid #004E86;
  background-color: #F5F5F5;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.header {
  width: 100%;
  background-color: #004E86;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 35px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.select2-selection__choice { color: black;
}

#tab-1 {
  border-right: solid #F5F5F5 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

.instruction-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text:nth-child(1) {
  padding-left: 20px;
}

.header-text:nth-child(2) {
  padding-right: 20px;
}

.tab-create {
  font-size: 20px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;

}

.tabs {
  display: flex;
  width: 980px;
  margin: auto;
  margin-top: 0px;
  height: 35px;
}

.tab-text {
  color: #FFC000;
  text-decoration-line: none;
}

.sec-con-container {
  display: flex;
  margin: 10px;
  width: 980px;
  height: 586px;
}

.compute-sec-con-container {
  width: 980px;
  height: 586px;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-flow: row;
  margin: 10px;
}

.sec-con {
  display: flex;
  width: 400px;
  height: 550px;
}

.tableSection {
  display: inline;
  display: flex;
  width: 620px;
  height: 589px;
}

.tableSectionAnalysis {
  display: inline;
  display: flex;
  border: red solid 1px;
  width: 620px;
  height: 589px;
}

/* formula */
.compute-sec-con-left-side-container {
  display: inline;
  display: flex;
  flex-flow: column;
  width: 330px;
  height: 652px;
}

.sec-con-table {
  display: flex;
  width: 390px;
  height: 588px;
}

.analysis-sec-con-table {
  display: flex;
  width: 420px;
  height: 520px;
}

.sec-con-column {
  display: flex;
  flex-flow: column;
  width: 600px;
  height: 588px;
}

.sec-con-column-analysis {
  display: flex;
  flex-flow: column;
  width: 520px;
  height: 520px;
}

.compute-sec-con-column {
  display: flex;
  flex-flow: column;
  width: 479px;
  height: 588px;
}

.sub-div {
  width: 480px;
  height: 280px;
  border: 1px solid #16696e;
  margin-top: 10px;
  margin: 10px;
}

.sub-div-formula {
  width: 310px;
  height: 130px;
  border: 0px solid #E5E7EB;
  background-color: #FFFFFF;
 border-radius: 10px;
 color:#333;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  margin-top: 10px;
  margin: 10px;
}

.sub-div-cendroids {
  width: 310px;
  height: 355px;
  border: 0px solid #E5E7EB;
  background-color: #FFFFFF;
 border-radius: 10px;
 color:#333;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  margin-top: 10px;
  margin: 10px;
}

.computeButtonContainer {
  position: absolute;
  display: flex;
  bottom: 40px;
  width: 599px;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.newCentroidContainer {
  display: flex;
  width: 310px;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.sub-div-control {
  width: 390px;
  height: 164px;
  border: 0px solid #E5E7EB;
  background-color: #FFFFFF;
 border-radius: 10px;
 color:#333;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

 margin-bottom: 20px;
}

.training-left-side-container {
  width: 570px;
  height: 164px;
  margin: 10px;
  display: flex;
}

.sub-div-table {
  width: 380px;
  height: 568px;
  border: 0px solid #E5E7EB;
  background-color: #FFFFFF;
 border-radius: 10px;
 color:#333;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  margin: 10px;  
}


.compute-sub-div-table {
  width: 600px;
  height: 572px;
  border: 0px solid #E5E7EB;
  background-color: #FFFFFF;
 border-radius: 10px;
 color:#333;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  margin: 10px;
  border-radius: 10px;
}

.analysis-sub-div-table {
  width: 400px;
  height: 500px;
  border: 0px solid #E5E7EB;
  background-color: #FFFFFF;
 border-radius: 10px;
 color:#333;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  margin: 10px;
 border-radius: 10px;
}

.sub-div-plot {
  width: 570px;
  height: 384px;
  border: 0px solid #E5E7EB;
  background-color: #FFFFFF;
 border-radius: 10px;
 color:#333;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  margin: 10px;
}

.sub-div-plot-analysis {
  width: 500px;
  height: 500px;
  border: 0px solid #E5E7EB;
  background-color: #FFFFFF;
 border-radius: 10px;
 color:#333;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  margin: 10px;
}


.header-box {
  width: 100%;
  background-color: #004E86;
  color: White;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 18px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

input:disabled,
select:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Button style */
button {
  width: 120px;
  margin: 12px 0px;
  color:#FFC000;
  background-color: #004E86;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  outline: 0;
  padding: 3px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 
  0 -0.5em 0.5em transparent,
  0 0.5em 0.5em transparent,
  0 0.25em 0.3em -0.2em hsla(var(--hue), var(--sat), 50%, 0.46), 
  0 0.25em 0.75em hsla(var(--hue), calc(var(--sat) - 10%), 40%, 0.3);
}

button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}


.swal-cancel-button {
  background-color: #e85c5c !important;
   color: #ffffff;
}

.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: .25em;
  background: initial;
  font-size: 1em;
}

.button-next-compute {
  width: 80px;
  }

.button-new-cendroids {
  width: 200px;
}

.button-compute {
  width: 130px;
 
}

.button-next {
  width: 120px;
  font-size: 20px;
  cursor: not-allowed;
  color: white;
  background-color: #c5e5e7;
  outline: none;
  border-radius: 20px;
  border: 2px #c5e5e7 solid;
  padding: 3px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;

}

.delete-button {
  width: 90px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background-color: red;
  outline: none;
  border-radius: 20px;
  border: 2px red solid;
  padding: 3px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.button-add-data-point {
  width: 180px;
}

.button-next-compute:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  font-weight: bold;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  font-weight: bold;
}

.button-new-cendroids:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  font-weight: bold;
}

.button-compute:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  font-weight: bold;
}

.delete-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  font-weight: bold;
}



.disableCompute {
  cursor: not-allowed;
  font-weight: bold;
}

.button-add-data-point:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  font-weight: bold;
}

button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

.delete-button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

.button-add-data-point:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}


.footer {
  width: 100%;
  height: 4%;
  background-color: #004E86;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.footer-text {
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  color: #FFC000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 350px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  width: 1000px;
  height: 571px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border-radius: 10px;
}



/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: -80px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #FFC000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #004E86;
  color: #FFC000;
  font-family: 'Times New Roman', Times, serif;

}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #004E86;
  color: #FFC000;
}


#myBtn:hover {
  cursor: "pointer";
}


/*swal*/
.position-absolute {
  position: absolute !important;
  backdrop-filter: blur(6px);
  border-radius: 10px;
}

.swal2-popup {
  font-size: 0.8rem !important;
  font-family: Georgia, serif;
}

.flux-box {
  display: flex;
  justify-content: space-evenly;
}



/* controls */
.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  height: 138px;
}

.control-panel-button-container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  height: 164px;
  width: 180px;
}

.Data-set-x-value-input-container {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Data-set-K-value-input-container {
  width: 100%;
  height: 136px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Data-set-cendroid-value-input-container {
  width: 100%;
  height: 136px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.control-panel-create-frist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  height: 175px;
}

.input-control {
  width: 120px;
  height: 30px;
  text-align: center;
  position: absolute;
  left:240px;
}



.control-input-heading {
  font-size: 24px;
  cursor: pointer;
  margin-left:10px;
  position: absolute;
  left:60px;
}

.k-input-heading {
  font-size: 24px;
  cursor: pointer;
  margin-left:10px;
}


#chart-container {
  width: 569px;
  height: 358px;
}

svg{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#tablesContainer {
  width: 380px;
  height: 535px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#ComputeTablesContainer {
  width: 599px;
  height: 475px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#analysisTablesContainer {
  width: 399px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

table {
  position: absolute;
  top: 2.5%;
  width: 80%;
}

th{
  background-color: #e5f5fe;
  color:black;
}

th,
td {
  border: 1px solid #6EC3FF;
  padding: 5px;
  text-align: center;
  width: 20%;
  height: 10px;
}


table
{
  border: 1px solid #6EC3FF;
}


#box {
  position: relative;
}

.swal-container {
  width: 1000px;
  height: 672px;
  padding: 0px;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
  border-radius: 10px;
}

.swal-container:target {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
}


.swal-popup {
  margin: 160px 30px;
  width: auto !important;
  max-width: 45% !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.swal-popup-tri {
  margin: 60px 30px;
  width: auto !important;
  max-width: 45% !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.swal-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.swal-content {
  font-size: 18px;
}

#chart {
  height: 354px;
  width: 569px; border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


.tab-1-invert {
  background-color: #ffd964;
  color: #004E86;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
}

.tab-2-invert {
  background-color: #ffd964;
  color: #004E86;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
}

.tab-1-disInvert {
  background-color: #004E86;
  color: #FFC000;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  cursor: not-allowed;
  text-decoration: none;
}

.tab-2-disInvert {
  background-color: #004E86;
  color: #FFC000;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  cursor: not-allowed;
  text-decoration: none;
}

#tab-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid #F5F5F5 2px;
}

#tab-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid #F5F5F5 2px;
}

.displayHidden {
  display: none;
}

#google-visualization-errors-0 {
  display: none;
}

#google-visualization-errors-all-5 {
  display: none;
}

#google-visualization-errors-4 {
  display: none;
}

#google-visualization-errors-all-3 {
  display: none;
}


/* compute style */
body {
  text-align: center;
}

h1 {
  margin-top: 50px;
}

#chartContainer {
  width: 569px;
  height: 352px;
  margin: auto;
}

.ClusterStyle {
  width: 110px;
  height: 30px;
  color: black;
  background-color: white;
  text-align: center;
}

.SpeciesStyle {
  width: 127px;
  height: 30px;
  color: black;
  background-color: white;
  text-align: center;
  position: absolute;
  left:240px;
}

.ClusterStyle option {
  color: black;
  border: #000 solid 1px;
  text-align: center;
}

.ClusterStyle option:hover {
  color: black;
  border: #000 solid 1px;
  background-color: #16696F;
  text-align: center;
}

.ClusterStyle option:hover {
  background-color: #16696F;
}

.ClusterStyle option[selected] {
  background-color: #16696F;
}

option:hover {
  background-color: #16696F;
}


.control-control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  height: 138px;
}

.cluster-panel-button-container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  height: 164px;
  width: 180px;
}

.delete-button {
  width: 60px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background-color: red;
  outline: none;
  border-radius: 20px;
  border: 2px red solid;
  padding: 1px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.error {
  border: 2px solid red;
}

.selected-row-cell {
  border: 2px solid red;
}

/* Custom styles for tooltip */
.custom-tooltip {
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  padding: 6px 8px;
}

.header-box {
  font-size: 18px;
  font-weight: bold;
}

.cendroidStyle {
  width: 150px;
}

.selected {
   border: solid #004E86 3px;
}

#data-table .selected {
  border: #004E86 3px solid;
}

.selected {
  border: solid #004E86 3px;
}

.highlight-yellow{
  background-color: #cae8fd;
  color:black;
}

.highlighted-row {
  background-color: #cae8fd;
  color:black;
}

.highlight-cell {
  background-color: white;
}

.Kcells {
  border: 3px solid #004E86;
}

.Kcells:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  font-weight: bold;
}

th,
td {
  border: 1px solid #e0e0e0;
  padding: 5px;
}

tr.highlight td:first-child {
  background-color: yellow;
}

tr.disabled td {
  background-color: #f2f2f2;
  color: gray;
}

tr.disabled td:hover {
  cursor: not-allowed;
}

.disabled {
  cursor: not-allowed;
}

.disabled:hover {
  cursor: not-allowed;
}

.highlight {
  border: solid 3px #004E86;
  cursor: pointer;
}

.highlight-cell {
  background-color: lightblue;
}

.equation {
  cursor: pointer;
  padding: 5px 0px;
  font-size: 23px;
}

.formula-container {
  display: flex;
  justify-content: center;
  padding: 0px 25px;
  align-items: baseline;
  height: 102px;
  flex-flow: column;
}

.cenroidsContainer {
  width: 90%;
  height: 23%;
  align-items: start;
  display: flex;
  flex-flow: column;
  padding: 5%;
}

.cenroidsContainer p {
  font-size: 17px;
  padding: 3px 2px;
  margin: 0px;
  font-weight: bold;
}

.cenroidsContainer div {
  text-align: left;
  font-size: 17px;
  padding: 3px 2px;
  margin: 0px;
  font-weight: bold;
}

.highlighted-row {
  background-color: #ffc198;
  color:black;
}

#data-table-analysis {
  position: absolute;
  width: 80%;
}

#data-table {
  position: absolute;
  top:0%;
  width: 100%;
}

.analysis-button-container {
  width: 960px;
  height: 48px;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  align-items: center;
}

#graph {
  height: 445px;
  width: 499px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#legend {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  background-color: white;
    color: black;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-color {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.legend-label {
  font-size: 18px;
}

#data-table-compute {
  position: absolute;
  top: 1.5%;
  width: 80%;
}

.swal-popup-right {
  left: auto !important;
  right: 0 !important;
  transform: translateX(0) !important;
}

.swal2-popup {
  left: auto !important;
  right: 0 !important;
  transform: translateX(0) !important;
}

.select2-results__option--highlighted {
  background-color: #c1f3ff!important;
}

.select2-results__option--highlighted {
  background-color: #b9e3fc !important;
  color:black;
}

.select2-selection__choice__remove {
  display: none !important;
}

.disable-cursor {
  cursor: not-allowed;
}

.select2-selection {
  cursor: pointer;
}

.select2-selection--multiple {
  cursor: pointer;
}

.select2-selection__rendered {
  cursor: pointer;
}

.swal2-html-container{
  font-size: 18px !important;
}

.swal2-title{
font-size: 25px !important;
}